.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 25rem;
    position: relative;
}

.sliderLele {
    width: 100%;
    height: 20rem;
}

.imgLele {
    width: 100%;
    height: 100%;
    
}
.BarTitle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
  }

  @media (max-width: 976px) {
    .BarTitle{
      font-size: 1.5rem;
    }
  }

@media (max-width: 961px) {
  .sliderLele {
    height: 14rem;
  }
}
  @media (max-width: 740px) {
      .sliderLele {
          height: 10rem;
      }
  }

  @media (max-width: 510px) {
      .sliderLele {
          height: 8rem;
      }
  }
    


/* .slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.home {
    padding-bottom: 4rem;
} */
