.footer{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    width: 100%;
    background: rgba(2,0,36,1);
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    padding-top: 4rem;
    
}

.seccion{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sobreNos{
    margin-right: 3rem;
}


.compañia{
    margin-left: 3rem;
}

.divsLinks h3{
    
    margin-right: 3rem;
}



