.Container{
    background:  #ffff;
    display: grid;
    grid-template-columns: 50% 50%;
    padding : 3%;
 
}

.box{

    padding : 3%;
    
}


.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}


.avatarImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.cerrarSesión{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.cerrarSesiónButton{
    font-size: 1.2rem;
    font-style: italic;
    border: #303030 solid 1px;
    background-color: #FCA311;
    padding: 10px;
    border-radius: 3px;
}

@media (max-width: 976px) {
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box{
        width: 90%;
    }
}


