.Container{
    background:  #ffff;
    display: grid;
    grid-template-columns: 50% 50%;
    padding : 3%;
 
}

.box{

    padding : 3%;

}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}


.avatarImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}






