table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 300px;
    width:60%;
    margin: 5vh auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }