
.ReservasContainer{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    /*  */
}
.Título{
    font-size: 2rem;
    text-align: center;
}

.contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    /* height: 80vh; */
    justify-content: center;
    margin-bottom: 2rem;
}

.asideBusqueda{
background-color: #D9D9D9;
display: flex;
flex-direction: column;
position: sticky;
padding: 15px;
max-height: 500px;
}

.asideBusqueda form{
    display: flex;
flex-direction: column;
}

@media (max-width: 976px) {
    .ReservasContainer{
        flex-direction:column-reverse;
        align-items: center;
    }
    .asideBusqueda{
        width: 70%;
        margin-bottom: 2rem;
    }
}