.BarOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 2rem;
}
.BarOptions button{
    height: 40px;
    font-size: 100%;
    font-style: italic;
    width: 100%;
    border: none;
    background-color: #FCA311;
    border-radius: 3px;
    padding: 10px;
    margin-right: 1rem;
}

.BarInfo{
    background-color:#A5A5A5;
    padding:50px;
    padding-bottom:100px;
}

.containerCard{
    background-color:#EEEEEE;
    width:50%;
    margin:auto;
    padding:4rem;
    height: -webkit-fill-available;
    border-radius: 5px;
}

.containerCard > p{
    font-size: 1.2rem;
    text-align: center;
}

.cardLocal{
    background-color: #FCA311;
    width:50%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.cardLocal{
    text-align: center;
}
.menuImg{
    width: -webkit-fill-available;
}

@media (max-width: 976px) {
    .BarOptions{
        margin-right: 0px;
        margin-left: 0px;
        width:100%;
        padding:0px;
    }
    .BarOptions ul{
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
        padding:0px;
        
    }
    .BarOptions li{
        margin: 0 15px;
        max-width: 80%;

    }
    .BarOptions button{
        margin-right: 0px;
        margin-left: 0px;
       
        font-size: 1rem;
    }
    .containerCard{
        padding: 10px ;
        margin-top: 0px;
        width:90%
    }
    .BarInfo{
        padding: 20px 10px;
        
        
    }
    .containerCard p{
        padding: 0;
        margin:0;
        
    }
    .cardLocal {
        width: 80%;
        margin-top: 2vh;
        
    }
    .cardLocal p {
        padding: 10px 0;
        
    }
}