.ContainerTitle{
    background-color: #14213D;
    border-radius: 10px;
    width: 80%;
    margin: 3%;
   
   


}
.container-about{
    display: flex;
    justify-content: center;
    text-align:center;
}

.TitleAbout{
    color: #ffff;
    font-size: 250%
}



.ContenidoAbout{
    padding-left: 15%;
    padding-right: 15%;
     color: #ffff;
     font-weight: lighter;
}

.container-Cards{
    display: flex;
    justify-content: center;
    text-align:center;
    margin: 5%;
}