.ContainerTitle{
    background-color: #14213D;
    border-radius: 5px;
    width: 80%;
    margin-top: 2rem;
   
   


}
.container-about{
    display: flex;
    justify-content: center;
    text-align:center;
}

.TitleAbout{
    color: #ffff;
    font-size: 2rem
}



.ContenidoAbout{
    padding-left: 15%;
    padding-right: 15%;
     color: #ffff;
     font-weight: lighter;
}

.container-Cards{
    display: flex;
    justify-content: center;
    text-align:center;
    margin: 2rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}